#page-layout {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 100px auto 200px;
}

#header {
    grid-column: 1 / span 2;
    grid-row: 1;
}

#side-menu {
    grid-column-start: 1;
    grid-row-start: 2;
}

#routlet {
    min-height: 600px;
    grid-column-start: 2;
    grid-row-start: 2;
}

#footer {
    grid-column: 1 / span 2;
    grid-row-start: 3;
}